<div class="col-md-6 offset-md-3">
    <legend><h5><b>Update Employee</b></h5></legend><br>
    <form (ngSubmit)= "onSubmit()">
    
        <div class= "form-group">
            <input type= "text" class= "form-control" id= "firstName" 
            [(ngModel)]= "employee.firstName" name = "firstName" placeholder="Firstname">
        </div><br>
    
        <div class= "form-group">
            <input type= "text" class= "form-control" id= "lastName" 
            [(ngModel)]= "employee.lastName" name = "lastName" placeholder="Lastname">
        </div><br>
    
        <div class= "form-group">
            <input type= "text" class= "form-control" id= "taskName" 
            [(ngModel)]= "employee.taskName" name = "taskName" placeholder="Taskname">
        </div><br>
    
        <div class= "form-group">
            <input type= "text" class= "form-control" id= "age" 
            [(ngModel)]= "employee.age" name = "age" placeholder="Age">
        </div><br>
        
        <button class= "btn btn-success" type="submit">Update</button>
        
    </form>
    </div>
    
    
